<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.url }}/css/normalize.css">
  <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.url }}/css/solo.css">
</head>
<body>
	<div class="container">
		<a class="archive_link" href="{{ site.url }}/archives/">[archives]</a>
		{% if page.title %}
		<hr>
		<h2 class="page_title">{{ page.title }}</h2>
		{% endif %}
		<hr>
		{{ content }}
  	</div>
</body>
</html>
